.delete-place {
  background: url('./images/imageedit_8_8856664173.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;;
  height: 100vh;  
}


