@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.place-link {
  text-decoration: none;
  color: inherit;
}

.place-link:hover {
  cursor: pointer;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  letter-spacing: 2px;
  text-align: center;
  margin: 2vh 0 2vh 0;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: #bbb;
  text-align: center;
  margin-bottom: 4vh;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.each-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.place-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-cont {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
}


.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.circle:hover .img {
  transform: scale(1); /* Reset the scale on hover */
}

.dots {
  text-align: center;
  color: #eaeaea;
  font-size: 25px;
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  transform: translateY(-50%);
}

.button-boxleft{
  background-color: #8eaf1a;
  align-self: flex-start;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 55px;
  height: 47px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.button-boxright{
  background-color: #8eaf1a;
  align-self: flex-start;
  display: flex;
  align-items: center;
  width: 55px;
  height: 47px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.button-boxleft.disabled,
.button-boxright.disabled {
  background-color: grey;
}

.places-cont {
  position: relative;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.place-list-wrapper {
  position: relative;
  height: 100%;
}

.pagination-button {
  background: none;
  border: none;
  width: 25px;
  margin-right: 8px;
  cursor: pointer;
}

.button-boxleft.disabled,
.button-boxright.disabled {
  background-color: gainsboro;
}


.place-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.location {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 8%;
  margin-bottom: 0;
}

.description {
  margin: 2vh 0;
  color: #b1b1b1;
  font-size: 0.8rem;
  font-weight: bold;
  width: 300px;
  text-align: center;
}

.rate{
  font-weight: 600;
  color: darkolivegreen;
}

.social {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bbb;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.social-cont:hover {
  cursor: pointer;
}

.social-mini {
  width: 10px;
  height: 10px;
}

@media screen and (min-width: 768px) {
  .places-cont {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3%;
  }

  .description {
    margin: 2vh 0 1vh 0;
    width: 350px;
  }

  h2{
    font-size: 1.5rem;
  }
}
