.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {  
  background-image: linear-gradient(to left, #96bf02, #415204);
  color: #fff;
  padding: 25px;
  border-radius: 5px;
}

.modal-btns {
  max-width: 300px;
}

.remove-button-red {
  background-color: #bf3e02;
  border: 2px white;
}

.remove-button-red:hover {
  background-color: #96370c;
  border: 2px white;
}