.detailsText {
  font-family: 'Open Sans', sans-serif;
}

.circleD {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vw;
  border-radius: 50%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.buttonReserve {
  background-color: #97bf0f;
  height: 2.5vw;
}

@media screen and (min-width: 768px) {
  .circleD {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
  }

  .place-det {
    position: absolute;
    top: 20%;
    left: 80%;
  }
}
